/*
PALETTE COLORI
#042A2B
#2176AE
#66CED6
#FCF7F8
#F5F0F6

NOMI COLORI PRECISI
#042A2B - Dark Jungle Green
#2176AE - Rich Electric Blue
#66CED6 - Medium Turquoise
#FCF7F8 - Ghost White
#F5F0F6 - Lavender Blush

VARIABLES

*/

* {
    font-family: 'Roboto', sans-serif;
    --darkJungleGreen: #042A2B;
    --richElectricBlue: #2176AE;
    --mediumTurquoise: #66CED6;
    --ghostWhite: #FCF7F8;
    --lavenderBlush: #F5F0F6;
}

body {
    color: var(--ghostWhite);
    margin: 0;
    background: #318CFE; 
    font-family: 'Montserrat', sans-serif;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(10, 12, 12, 0.7);
}

header {
    background-color: rgba(10, 12, 12, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--ghostWhite);
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
    
}

.socials a:hover {
    color: var(--richElectricBlue);
}

.socials svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--ghostWhite);
    margin: 0 0.2em;
}

.type-writer {
    overflow: hidden; /* Hide the text */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .type-writer {
        font-size: 1.3em;
    }

    header {
        padding: 0.2em;
    }

    .socials {
        margin-top: 1em;
    }

    .socials a {
        font-size: 0.7em;
    }
    
}