/*
PALETTE COLORI
#042A2B
#2176AE
#66CED6
#FCF7F8
#F5F0F6

NOMI COLORI PRECISI
#042A2B - Dark Jungle Green
#2176AE - Rich Electric Blue
#66CED6 - Medium Turquoise
#FCF7F8 - Ghost White
#F5F0F6 - Lavender Blush

VARIABLES

*/

* {
    font-family: 'Roboto', sans-serif;
    --darkJungleGreen: #042A2B;
    --richElectricBlue: #2176AE;
    --mediumTurquoise: #66CED6;
    --ghostWhite: #FCF7F8;
    --lavenderBlush: #F5F0F6;
}

body {
    background-color: var(--darkJungleGreen);
    color: var(--ghostWhite);
    margin: 0;
}

.type-writer {
    overflow: hidden; /* Hide the text */
    border-right: .15em solid var(--mediumTurquoise); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}