* {
    /** CSS PRIMARY COLORS */ 
    --clr-primary-a0:  #243db0;
    --clr-primary-a10:  #24328a;
    --clr-primary-a20:  #202766;
    --clr-primary-a30:  #1b1c44;
    --clr-primary-a40:  #131125;

    /** CSS ACCENT COLORS */
    --clr-accent-a0:  #24b050;
    --clr-accent-a10:  #248a41;
    --clr-accent-a20:  #226632;
    --clr-accent-a30:  #1c4424;
    --clr-accent-a40:  #142516;

    /** CSS SEMANTIC COLORS */
    --clr-Danger-a0:  #b41c2b;
    --clr-Success-a0:  #009f42;
    --clr-Warning-a0:  #cc8800;
    --clr-Info-a0:  #388cfa;  

    /** CSS NEUTRAL COLORS */
    --clr-neutral-a0:  #ffffff;
    --clr-neutral-a10:  #c6c6c6;
    --clr-neutral-a20:  #919191;
    --clr-neutral-a30:  #5e5e5e;
    --clr-neutral-a40:  #303030;
    --clr-neutral-a50:  #000000;

    overflow-x: hidden;
}

body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--clr-neutral-a40);
    background: var(--clr-neutral-a0);
    margin: 0 auto;
    overflow-x: hidden;
}

.iub__us-widget {
    display: none;
}



/*TEMPORARY*/

.workingProgress {
    color: var(--clr-Danger-a0);
}

.workingProgress:hover {
    color: var(--clr-Danger-a0);
}

/*ICONS*/
.fa-heart {
    color: var(--clr-Danger-a0);
}

/*NAVBAR*/

header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
}

.mobile {
    display: none;
}

header nav ul li {
    margin-right: 5rem;
}

div.hero {
    font-size: x-large;
}

li a {
    color: var(--clr-neutral-a40);
    text-decoration: none;
    font-weight: 700;
}

li a:hover {
    color: var(--clr-primary-a0);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

/* ABOUT */

section#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 4rem;
    
}

section#about .container {
    justify-content: space-around;
    width: 35%;
}

section#about .container .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#about .container .contacts a {
    text-decoration: none;
    font-weight: 400;
    color: var(--clr-primary-a0);
}

article#links div.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article#links a {
    color: var(--clr-neutral-a40);
    text-decoration: none;
    font-weight: 400;
    font-size: large;
}

article#links a:hover {
    color: var(--clr-primary-a0);
}

/* SKILLS */


section#skills .container {
    justify-content: space-around;
}

section#skills .container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

section#skills .container li {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/*PROGRESS BAR SKILLS*/

section#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

section#skills .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 4rem;
    width: 70%;
}

section#skills .container .skill {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
    width: 100%;
    span {
        font-weight: 700;
        color: var(--clr-primary-a0);
        margin-right: 1em;
    }
}

.bar-container {
    background: var(--clr-neutral-a10);
    width: 40%;
    border-radius: 35px;
}

.bar {
    text-align: left;
    padding-left: 1em;
    color: var(--clr-neutral-a0);
    border-radius: 35px;
}

.per-20 {
    background: var(--clr-primary-a0);
    width: 20%;
}

.per-40 {
    background: var(--clr-primary-a0);
    width: 40%;
}

.per-60 {
    background: var(--clr-primary-a0);
    width: 60%;
}

.per-80 {
    background: var(--clr-primary-a0);
    width: 80%;
}

.per-100 {
    background: var(--clr-primary-a0);
    width: 100%;
}

/*EXPERIENCE*/

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

#experience .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

#experience .container .experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-between;
    width: 100%;
    span {
        font-weight: 700;
        color: var(--clr-primary-a0);
        margin-right: 1em;
    }
}
.link {
    color: var(--clr-primary-a0);
    text-decoration: none;
    font-weight: 700;
}

.link:active {
    color: var(--clr-primary-a0);
    text-decoration: none;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--clr-neutral-a0);
    color: var(--clr-primary-a0-a0);
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 35px 35px 0 0;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

footer p {
    font-weight: 700;
    color: var(--clr-primary-a0);
}

footer a {
    text-decoration: none;
    font-weight: 700;
    color: var(--clr-neutral-a40);
}

footer a:hover {
    color: var(--clr-neutral-a40);
}

div.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer.contacts a {
    text-decoration: none;
    font-weight: 400;
    color: var(--clr-neutral-a40);
    margin-right: 1em;
}

/* PORTFOLIO PAGE portfolio.html */

/* PHOTO GALLERY */
section#photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

section#photo .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

section#photo .container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 100%;
}

section#photo .gallery-element {
    width: 20em;
    margin: 1rem;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

section#photo .gallery-element img {
    /*Per mantenere l'aspect ratio*/
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px 15px 15px 15px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 35px;
        overflow-x: hidden;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .desktop {
        display: none;
        flex-direction: column;
        list-style: none;
    }

    .mobile {
        display: flex;
        flex-direction: row;
    }

    .mobile a {
        display: flex;
        list-style: none;
        margin-right: 1em;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        color: var(--clr-neutral-a40);
    }

    .mobile a:hover {
        color: var(--clr-primary-a0);
    }

    section#about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 4rem;
        
    }

    section#about .container {
        justify-content: space-around;
        width: 100%;
    }

    section#about .container .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    section#about .container .contacts a {
        text-decoration: none;
        font-weight: 400;
        color: var(--clr-primary-a0);
    }

    article#links div.contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    article#links {
        display: none;
    }

    article#links a:hover {
        color: var(--clr-primary-a0);
    }

    section#skills .container {
        justify-content: space-around;
    }

    section#skills .container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
    }

    section#skills .container li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    section#skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
    }

    section#skills .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem 4rem;
        width: 100%;
    }

    section#skills .container .skill {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        justify-content: space-between;
        width: 100%;
        span {
            font-weight: 700;
            color: var(--clr-primary-a0);
            margin-right: 1em;
        }
    }

    .bar-container {
        background: var(--clr-neutral-a10);
        width: 100%;
        border-radius: 35px;
    }

    #experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
    }

    #experience .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 35px 35px 0 0 ;
        overflow-x: hidden;
    }

    footer section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    footer p {
        font-weight: 700;
        color: var(--clr-primary-a0);
    }

    div.contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer a {
        text-decoration: none;
        font-weight: 400;
        color: var(--clr-neutral-a40);
        margin-right: 1em;
    }

    /* PAGE portfolio.html */

    section#photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
    }

    section#photo .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    section#photo .container .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 0;
        justify-content: space-between;
        width: 100%;
    }

    section#photo .gallery-element {
        width: 20em;
        margin: 1rem;
        padding: 0.5em;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    section#photo .gallery-element img {
        /*Per mantenere l'aspect ratio*/
        object-fit: cover;
        object-position: center;
        max-height: 100%;
        max-width: 100%;
        border-radius: 15px 15px 15px 15px;
    }
}
